<div class="container" *ngIf="educacion">
    <div class="card mt-4">
      <div class="card-header">
        <h3>Editando educación</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="row">
            <div class="col col-12 col-md-4">
              <div class="form-group">
                <label for="nombreE">Título</label>
                <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
              </div>
            </div>
            <div class="col col-12 col-md-4">
              <div class="form-group">
                <label for="descripcionE">Nombre de la Institución</label>
                <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="educacion.descripcionE"
                  required>
              </div>
            </div>
            <div class="col col-12 col-md-4">
              <div class="form-group">
                <label for="periodoE">Periodo</label>
                <input type="text" placeholder="dd/mm/YYYY - dd/mm/YYYY" class="form-control" id="periodoE"
                  name="periodoE" [(ngModel)]="educacion.periodoE" required>
              </div>
            </div>
          </div>
          <button class="btn btn-block btn-primary mt-2">
            Actualizar educación
          </button>
        </form>
  
      </div>
    </div>
  </div>
  