<div>
    <div class="row">
        <h2>Experiencia</h2>
        <div class="col col-12 col-md-4">
        <ul>
            <li>
                Trabajo 1 - 2021/2022
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, corrupti quam? Architecto ipsum enim qui, dignissimos reiciendis ea repudiandae recusandae hic fugiat magnam voluptas consequuntur ab tempore modi unde deleniti?</p>
        </ul>
        </div>
        <div class="col col-12 col-md-4">
        <ul>
            <li>
                Trabajo 2 - 2021/2022
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, corrupti quam? Architecto ipsum enim qui, dignissimos reiciendis ea repudiandae recusandae hic fugiat magnam voluptas consequuntur ab tempore modi unde deleniti?</p>
        </ul>
        </div>
        <div class="col col-12 col-md-4">
            
        <ul>
            <li>
                Trabajo 3 - 2021/2022
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, corrupti quam? Architecto ipsum enim qui, dignissimos reiciendis ea repudiandae recusandae hic fugiat magnam voluptas consequuntur ab tempore modi unde deleniti?</p>
        </ul>
    </div>
    </div>
</div>