<div>
  <div class="row">
    <div class="col col-md-10">
      <h2 >Proyectos realizados</h2>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-outline-dark" routerLink="/nuevoproyecto" *ngIf="isLogged">
        Nuevo proyecto
      </button>
    </div>
  </div>



  <div class="row">
    <div *ngFor="let Proyecto of proyecto" class="col col-12 col-md-4">
      <div class="card shadow-lg rounded">
        <div class="card-header">
            <h4>
              {{Proyecto.nombreP}} -  <a href="{{Proyecto.urlP}}" class="mx-2 btn btn-sm btn-icon btn-secondary">
                <i class="fab fa-chrome"></i> 
              </a>

                <button *ngIf="isLogged" class="btn btn-warning btn-sm mx-2" routerLink="/editpro/{{Proyecto.id}}"><i class="bi bi-pen"></i></button>
                <button *ngIf="isLogged" class="btn btn-danger btn-sm mx-2" (click)="delete(Proyecto.id)"><i class="bi bi-trash"></i></button>

 
            </h4>

        </div>
        <div class="card-body">
          <p>
            {{Proyecto.descripcionP}}
          </p>
        </div>
        <div class="card-footer">
          <div class="text-center">
            {{Proyecto.fechaP}} - Desarrollado para {{Proyecto.empresaP}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
