<div>
  <h1 class="pt-5">Proyectos realizados</h1>
  <div class="row">
    <div class="col col-12 col-md-4">
      <h3>Smart VC</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex commodi voluptas corporis ad adipisci, et quibusdam
        cum nobis asperiores magnam totam provident eum eligendi eveniet veniam, libero beatae voluptates consectetur?
      </p>
    </div>
    <div class="col col-12 col-md-7 offset-md-1">
      <img class="img-fluid shadow-lg rounded" src="assets/img/printSmartVc.png" alt="">
    </div>
  </div>
</div>
