<div>

    <div class="row">
        <h1>Hard & Soft Skills</h1>
        <div class="text-center col col-12 col-md-4">
            <circle-progress 
                [percent]="85" 
                [radius]="85" 
                [title]="'HTML'"
                [titleFontSize]="'2rem'"
                [imageSrc]="'assets/img/html.png'"
                [imageHeight]="85"
                [imageWidth]="85"
                [showImage]="true"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'" 
                [innerStrokeColor]="'#C7E596'" 
                [animation]="true" 
                [animationDuration]="300">
            </circle-progress>
        </div>
        <div class="text-center col col-12 col-md-4">
            <circle-progress 
                [percent]="65" 
                [radius]="85" 
                [title]="'HTML'"
                [titleFontSize]="'2rem'"
                [imageSrc]="'assets/img/CSS.png'"
                [imageHeight]="85"
                [imageWidth]="85"
                [showImage]="true"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'" 
                [innerStrokeColor]="'#C7E596'" 
                [animation]="true" 
                [animationDuration]="300">
            </circle-progress>
        </div>
        <div class="text-center col col-12 col-md-4">
            <circle-progress 
                [percent]="50" 
                [radius]="85" 
                [title]="'HTML'"
                [titleFontSize]="'2rem'"
                [imageSrc]="'assets/img/js.png'"
                [imageHeight]="85"
                [imageWidth]="85"
                [showImage]="true"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'" 
                [innerStrokeColor]="'#C7E596'" 
                [animation]="true" 
                [animationDuration]="300">
            </circle-progress>
        </div>
    </div>
</div>
