<div>
    <div class="row">
        <div class="col col-md-10">
        <h2>Hard & Soft Skills</h2>

        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-outline-dark" routerLink="/nuevaskill" *ngIf="isLogged">
                Nueva habilidad
            </button>
        </div>

        <div *ngFor="let Skill of skill" class="text-center col col-12 col-md-4">
            <circle-progress 
                [percent]="Skill.porcentajeS" 
                [radius]="85" 
                [title]="Skill.tituloS"
                [titleFontSize]="'2rem'"
                [imageHeight]="85"
                [imageWidth]="85"
                [showImage]="false"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16" 
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'" 
                [innerStrokeColor]="'#C7E596'" 
                [animation]="true" 
                [animationDuration]="300">
            </circle-progress>
            
                <button *ngIf="isLogged" class="btn btn-warning btn-sm mx-2" routerLink="/editski/{{Skill.id}}"><i class="bi bi-pen"></i></button>
                <button *ngIf="isLogged" class="btn btn-danger btn-sm mx-s" (click)="delete(Skill.id)"><i class="bi bi-trash"></i></button>

 
        </div>


        
    </div>
</div>
