<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="tituloS">Título</label>
                    <input type="text" class="form-control" id="tituloS" name="tituloS" [(ngModel)]="tituloS" required>
                </div>
                <div class="form-group">
                    <label for="porcentajeS">Porcentaje de habilidad</label>
                    <input type="text" class="form-control" id="porcentajeS" name="porcentajeS" [(ngModel)]="porcentajeS" required>
                </div>

                <button class="btn btn-primary">
                    Agregar Skill
                </button>
            </form>
        </div>
    </div>
</div>