<div class="container">
    <div class="row">
        <div class="col col-12 col-lg-4">
            <img [src]="'assets/img/perfilPhoto.png'" class="img-fluid" id="perfilFoto">
            
        </div>
        <div class="col col-12 col-lg-8 pt-4">
            <span>
                <h1>NICOLAS <strong>ROTILI</strong></h1>
                <h3>Fullstack Dev. Jr.</h3>
                <p class="mt-5 text-justify">Tengo facilidad para el trabajo grupal y la división de tareas. Hace varios años que vengo desarrollando tareas dentro del entorno IT y desde el 2021 me dieron oportunidad de formar parte del área de Sistemas del Municipio. </p> <p>Mi fuerte es desarrollo backend pero tengo amplios conocimientos en frontend.</p>
            </span>
        </div>
    </div>
</div>

